$color-primary: #00ADC3;
$color-tertiary: #DEDEDE;
$color-cancel: #777777;
$color-unselected: #AEAEAE;
$color-error: #F5005E;
$color-header-color: #F5F5F5;
$color-header: #212932;
$color-white: #FFFFFF;
$color-black: #000000;
$color-success: #4CAF50;
