// Desktop and Laptop Screen Sizes
$desktop-size-xlarge: 1904px;
$desktop-size-large: 1600px;
$desktop-size-mid: 1366px;
$desktop-size-small: 1264px;

// Laptop Screen Sizes
$laptop-screen-large: 1264px;
$laptop-screen-mid: 1024px;
$laptop-screen-small: 960px;

// Tablet Screen Sizes
$tablet-size-large: 960px;
$tablet-size-mid: 768px;
$tablet-size-small: 600px;

// Mobile Screen Sizes
$mobile-size-large: 576px;
$mobile-size-mid: 480px;
$mobile-size-small: 425px;
$mobile-size-xsmall: 320px;
